/* Genel ayarlar ve tam ekran arka plan */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;

    background-color: #0636189c; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    color: #dadada;
}

/* Bilgilendirme kutusu */
.info-box {
    max-width: 800px;
    margin-top: 20px;
    padding: 20px 30px;
    background-color: #295338ae;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    font-size: 17px;
    line-height: 1.5;
    color: #142719;
}

/* Ana container */
.container {
    display: inline-block;
    background-color: #295338ae; 
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    margin-top: 30px;
    color: #142719; 
}

h1 {
    color: #142719;
    margin-bottom: 25px;
}

form {
    margin-bottom: 25px;
}

input[type="file"] {
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #042d15ac;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 5px;
}

button:hover {
    background-color: #0e4625b3;
}

img {
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    max-width: 400px;
}

/* Bitki bilgi kutuları */
.info-box-large {
    background-color: #295338ae; 
    color: #142719;
    padding: 30px 25px;
    margin: 20px 0;
    border-radius: 12px;
    box-shadow: 0 0 25px rgba(0,0,0,0.6);
    text-align: left;
    max-width: 800px;
}

.info-box-large h3 {
    margin-top: 0;
    color: #124c3a;
    font-size: 24px;
}

.info-box-large p {
    font-size: 18px;
    line-height: 1.6;
}

/* İçindekiler / hızlı erişim linkleri */
.toc a {
    color: #f0f0f0;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.toc a:hover {
    color: #000;
}
